<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
  <div align="center" > 
            
            <h1> Update Student RECORD </h1>
            <form action="/update" method="post" >
            <input type="hidden" name="id" th:value="${student.id}">
                Name : <input type="text" placeholder="enter the name" name="name" th:value="${student.name}" ><br><br>
                Mobile no:<input type="text" placeholder="enter Mobile number"  name="mobileNo" th:value="${student.mobileNo}"><br><br>
                Percentage :<input type="text" placeholder="enter percentage" name="percentage" th:value="${student.percentage}"> <br><br>
                <button>Update</button>
            </form>
   <a href="/fetch"> <button>Back</button></a>
        </div>
</body>
</html>